/release/
/example_firestore/
google-services.json
google-services.xml
GoogleService-Info.plist
/firebase_frameworks/
/firebase_frameworks_5.12/
/firebase_frameworks_5.17/
Notes.rtf
/wiki/
/example_16/
/native_library_camera/
/firebase_frameworks12/
/firebase_frameworks11/
/example-test