binary "https://github.com/tuarua/Swift-IOS-ANE/releases/download/4.1.0/FreSwift.json" ~> 4.1.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseStorageBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAuthBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebasePerformanceBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDynamicLinksBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseInvitesBinary.json" == 5.6.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLVisionBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLModelInterpreterBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLVisionBarcodeModelBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLVisionFaceModelBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLVisionLabelModelBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLVisionTextModelBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLNLLanguageIDBinary.json" == 6.9.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLNaturalLanguageBinary.json" == 6.9.0

binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json" == 3.14.0
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json" == 1.10.2